@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    .button-container {
        display: flex;
        gap: 10px;
    }

    .form-control-submit-button {
        flex: none;
    }

</style>


<div id="F_Item">
    <div id="contact" class="form-1 bg-gray">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">

                    <!-- Contact Form -->
                    <form id="contactForm" method="post">
                        <div class="form-group">
                            <input type="text" class="form-control-input" id="cname" name="prod" value="@ViewBag.Prod" required="">
                            <label class="label-control" for="cname">Product</label>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control-input" id="cemail" name="price" value="@ViewBag.price" required="">
                            <label class="label-control" for="cemail">Price</label>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control-input" id="cemail2" name="count" value="@ViewBag.count" required="">
                            <label class="label-control" for="cemail2">Count</label>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control-input" id="cemail3" name="count" value="@ViewBag.total" required="">
                            <label class="label-control" for="cemail3">Total</label>
                        </div>
                        <div class="form-group col-md-4">
                            <div class="button-container">
                                <button type="submit" class="form-control-submit-button ml-5" name="op" value="Max">Back</button>
                            </div>
                        </div>

                    </form>
                    <!-- end of contact form -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div>
</div>
